<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Noravel</title>
  </head>
  <body>
    <h1>Welcome! <%= name %></h1>
    <p>This is a web application framework based on <a href="https://laravel.com" target="_blank">laravel</a></p>
  </body>
</html>
