<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Noravel</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>Layout</h1>
    <%-body%>
  </body>
</html>